body, html {
	margin: 0;
	padding: 0;
}

.wrapper {
	position: relative;
	overflow: hidden;
	font-family: 'Saira Semi Condensed', sans-serif;
}

.main-container {
	background-image: url("../back.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
} 

.main-page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	color: #FFF;
	transition: 0.6s;
}

@media (max-width: 800px) {
	.main-page {
		flex-direction: column;
	}
}

.main-page-active-skills {
	transform: translateY(10vh);
}

.main-page-active-links {
	transform: translateY(-15vh);
}

.main-page-active-projects {
	transform: translateX(-100%);
}

.main-page-active-about {
	transform: translateX(100%);
}

@media (max-width: 800px) {
	.main-page-active-skills {
		transform: translateY(15vh);
	}
}

.info {
	margin-right: 20px;
	margin-left: 20px;

}

.main-container .main-page a {
	display: inline-block;
	text-decoration: none;
	margin: 10px;
	color: #FFF;
	font-size: 1.5em;
	width: 100px;
	text-align: center;
	cursor: pointer;
	transition: 0.5s;
}

.main-container .main-page a:hover {
	background-color: rgba(255, 255, 255, 0.8);
	color: #000000;
}

.show-links-active {
	border-bottom: 1px solid #FFF;
}

.show-skills-active {
	border-bottom: 1px solid #FFF;
}

/*-------------
  SKILLS PAGE
-------------*/

.skills-page {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	height: 15vh;
	width: 100%;
	padding: 10px;
	background: rgba(255, 255, 255, 0.8);
	color: #000000;
	transition: 0.6s;
	transform: translateY(-100%); 
}

@media (max-width: 800px) {
	.skills-page {
		height: 22vh;
		padding-top: 0;
		padding-right: 40px;
	}
}


.skills-page-active {
	transform: translateY(0);
}

.skills-page div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

@media (max-width: 800px) {
	.skills-page div {
		margin-left: auto;
		margin-top: 8px;
	}
}

.skills-page div p {
	margin: 10px;
}

.progress-ring__circle {
	transform-origin: center;
	transform: rotate(-90deg);
	transition: stroke-dashoffset 0.8s;
}

/*------------
  LINKS PAGE
------------*/

.links-page {
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: row;
	height: 15vh;
	width: 100%;
	padding: 10px 0;
	background: rgba(255, 255, 255, 0.8);
	transition: 0.6s;
	transform: translateY(100%); 
}

.links-page-active {
	transform: translateY(0);
}

.links-page a {
	width: 70px;
	margin: auto 10px;
}

.links-page a img {
	width: 100%;
}

/*---------------
  PROJECTS PAGE
---------------*/

.projects-page {
	background: rgba(255, 255, 255, 0.8);
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 100%;
	transition: 0.6s;
	transform: translateX(100%);
}

.projects-page-active {
	transform: translateX(0);
}

.projects-block {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

/*------------
  ABOUT PAGE
------------*/

.about-page {
	background: rgba(255, 255, 255, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	transition: 0.6s;
	transform: translateX(-100%);
}

.about-page-active {
	transform: translateX(0);
}

/*------------------
  SOME OTHER STUFF
------------------*/

.wrapper .show-main a {
	text-decoration: none;
	display: inline-block;
	text-decoration: none;
	margin: 10px;
	color: #000000;
	font-size: 1.5em;
	width: 100px;
	text-align: center;
	cursor: pointer;
	transition: 0.6s;
}

.wrapper .show-main a:hover {
	background: #000000;
	color: #FFF;
}

.btn-secondary {
	background-color: rgba(0, 0, 0, 0);
	color: #000000;
	font-size: 1.2em;
	border: none;
	border-bottom: 1px solid #000000;
	border-radius: 0;
	transition: 0.5s;
}

.btn-secondary:hover {
	background-color: rgba(0, 0, 0, 1);
	color: #FFF;
}

.about-page .particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.side-container {
	position: relative;
	height: 100vh;
	width: 100%;
	z-index: 99;
}